body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 3.5;
    font-weight: bolder;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

button {
    margin-top: 10px;
}